In [224]:
# numpy
import numpy as np

# pandas
import pandas as pd 

# seaborn
import seaborn as sns

# matplotlib
import matplotlib.pyplot as plt
%matplotlib inline

from math import pi

In [225]:
plt.rc('font', family='NanumGothic')
print(plt.rcParams['font.family'])

['NanumGothic']

In [226]:
data = pd.read_csv("pokemon_data/pokemon_data.csv")
data.head()

,Unnamed: 0,name,pokedex_number,status,type_number,type_1,type_2,height_m,weight_kg,total_points,...,against_ground,against_flying,against_psychic,against_bug,against_rock,against_ghost,against_dragon,against_dark,against_steel,against_fairy
0,0,이상해씨,1,노말,2,풀,독,0.7,6.9,318,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
1,1,이상해풀,2,노말,2,풀,독,1.0,13.0,405,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
2,2,이상해꽃,3,노말,2,풀,독,2.0,100.0,525,...,1.0,2.0,2.0,1.0,1.0,1.0,1.0,1.0,1.0,0.5
3,3,파이리,4,노말,1,불꽃,NaN,0.6,8.5,309,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5
4,4,리자드,5,노말,1,불꽃,NaN,1.1,19.0,405,...,2.0,1.0,1.0,0.5,2.0,1.0,1.0,1.0,0.5,0.5

In [227]:
data_drop_against = data.drop(data.columns[16:], axis=1)
data_drop_against.head()

,Unnamed: 0,name,pokedex_number,status,type_number,type_1,type_2,height_m,weight_kg,total_points,hp,attack,defense,sp_attack,sp_defense,speed
0,0,이상해씨,1,노말,2,풀,독,0.7,6.9,318,45,49,49,65,65,45
1,1,이상해풀,2,노말,2,풀,독,1.0,13.0,405,60,62,63,80,80,60
2,2,이상해꽃,3,노말,2,풀,독,2.0,100.0,525,80,82,83,100,100,80
3,3,파이리,4,노말,1,불꽃,NaN,0.6,8.5,309,39,52,43,60,50,65
4,4,리자드,5,노말,1,불꽃,NaN,1.1,19.0,405,58,64,58,80,65,80

In [228]:
data_drop_against = data_drop_against.drop(data.columns[0], axis=1)

In [229]:
data_points = data_drop_against.drop(['pokedex_number', 'status', 'type_number', 'type_1', 'type_2'], axis=1)

In [258]:
data_points.tail()

,name,height_m,weight_kg,total_points,hp,attack,defense,sp_attack,sp_defense,speed
146,미뇽,1.8,3.3,300,41,64,45,50,50,50
147,신뇽,4.0,16.5,420,61,84,65,70,70,70
148,망나뇽,2.2,210.0,600,91,134,95,100,100,80
149,뮤츠,2.0,122.0,680,106,110,90,154,90,130
150,뮤,0.4,4.0,600,100,100,100,100,100,100

In [231]:
data_points["height_m"].max()

8.8

# 백분율로 표현

In [232]:
def getPercent(df):
    max = df.max()
    min = df.min()
    df = np.round(df*100/max)
    return df

In [233]:
data_points['name']

0      이상해씨
1      이상해풀
2      이상해꽃
3       파이리
4       리자드
       ...
146      미뇽
147      신뇽
148     망나뇽
149      뮤츠
150       뮤
Name: name, Length: 151, dtype: object

In [259]:
dataPointsPercent = pd.concat([data_points['name'], data_points.iloc[:, 1:].apply(getPercent).astype(int)], axis = 1)
dataPointsPercent

,name,height_m,weight_kg,total_points,hp,attack,defense,sp_attack,sp_defense,speed
0,이상해씨,8,2,47,18,37,27,42,52,30
1,이상해풀,11,3,60,24,46,35,52,64,40
2,이상해꽃,23,22,77,32,61,46,65,80,53
3,파이리,7,2,45,16,39,24,39,40,43
4,리자드,12,4,60,23,48,32,52,52,53
...,...,...,...,...,...,...,...,...,...,...
146,미뇽,20,1,44,16,48,25,32,40,33
147,신뇽,45,4,62,24,63,36,45,56,47
148,망나뇽,25,46,88,36,100,53,65,80,53
149,뮤츠,23,27,100,42,82,50,100,72,87
150,뮤,5,1,88,40,75,56,65,80,67